body{
  max-width: 800px;
  padding: 5em;
}

img{
  width: 100%;
  min-height: 400px;
  background-color: #eee;
  margin-top: 2em;
}
#url{
  width: 100%;
}
button{  margin-bottom: 2em; }

p, li{ padding: 0.5em;}
li:hover{ cursor:pointer;}

#selectedTag{
  display: none;
  background-color: blue;
  padding: .5em;
  color: white;

}
